<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:ital@1&family=Montserrat:wght@500&family=Source+Code+Pro:wght@200;300&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"><script>console.log('EJS template made by Hyperz#0001');</script>

<!-- Custom Styling & Scripts -->
<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<nav class="navbar mb-5 navbar-expand-lg bg-theme" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Big Ben Bot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/Itz-Hyperz/big-ben-bot/tree/main" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://discord.com/oauth2/authorize?client_id=999451301920374815&permissions=8&scope=bot%20applications.commands" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i> Invite</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://bosssoftware.net/discord" target="_blank"><i class="fa-brands fa-discord"></i> Discord</a>
          </li>
        </ul>
      </div>
    </div>
</nav>